[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kuroneko/Desktop/Operating-systems-text-book-3.pdf]
row=3
col=1

[/home/kuroneko/Desktop/project 1_random anime generator]
row=5
col=0

[/home/kuroneko/Desktop/nvim.tar.gz]
row=0
col=0

[/home/kuroneko/Desktop/project]
row=8
col=0

[/home/kuroneko/Desktop/bruh]
row=7
col=0

[/home/kuroneko/Desktop/GATE]
row=4
col=0

[/home/kuroneko/Desktop/main.cpp]
row=2
col=1

[/home/kuroneko/Desktop/chrome-agimnkijcaahngcdmfeangaknmldooml-Default.desktop]
row=0
col=1

[/home/kuroneko/Desktop/chrome-jfdpbekhjmgdkmamcgbaipfbpggchgcm-Default.desktop]
row=1
col=1

[/home/kuroneko/Desktop/code]
row=6
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/kuroneko]
row=3
col=0

